@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/react-toastify/dist/ReactToastify.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Montserrat",sans-serif;
}


.colorTitle {
  margin-top: 10px;
  color: rgb(206, 202, 202); 
  font-weight: normal;
}

a {
  color: white !important;
  text-decoration: none;
}

a :hover {
  border-bottom: none !important;
}

.setTheme {
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  color: white;
}

.header {
  padding: 20px;
  
}

.color-grid-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.color-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}


.addBottomBorder {
  border-bottom: 5px solid #DB0B5F;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center; 
}

.changeColor {
  color:  white;
  padding-left: 10px;
  background-color:#DB0B5F;
}

.color-block {
  border-radius: 15px;
  margin: auto;
}


/* copying pasting media queries  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-header h1 {
    font-size: 2rem;
  }
  .app-header h3 {
    font-size: 0.8rem;
  }
  .color-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .color-grid-container h5 {
    font-size: 0.8rem;
  }
  .color-block {
    width: 6em;
    height: 9em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app-header h1 {
    font-size: 2rem;
  }
  .app-header h3 {
    font-size: 0.8rem;
  }
  .color-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .color-grid-container h5 {
    font-size: 0.9rem;
  }
  .color-block {
    width: 8em;
    height: 12em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app-header h1 {
    font-size: 3rem;
  }
  .app-header h3 {
    font-size: 1.5rem;
  }
  .color-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .color-grid-container h5 {
    font-size: 1rem;
  }
  .color-block {
    width: 8em;
    height: 14em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app-header h1 {
    font-size: 3.8rem;
  }
  .app-header h3 {
    font-size: 2rem;
  }
  .color-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .color-grid-container h5 {
    font-size: 1.2rem;
  }
  .color-block {
    width: 8em;
    height: 14em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app-header h1 {
    font-size: 3.8rem;
  }
  .app-header h3 {
    font-size: 2rem;
  }
  .color-grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
  .color-grid-container h5 {
    font-size: 1.3rem;
  }
  .color-block {
    width: 10em;
    height: 16em;
  }
}





.btn {
  color: white;
}

.btn:hover {
  color: white !important;
}